<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yugj.test.androiddemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.yugj.test.MainActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.yugj.test.androiddemo.activity.Activity1"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.yugj.test.androiddemo.intent.Intent1"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.yugj.test.androiddemo.intent.Intent2"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.yugj.test.androiddemo.activity.ActivityLifeCycle"
            android:label="@string/app_name" >
            
        </activity>
        <activity
            android:name="com.yugj.test.androiddemo.activity.ActivityLifeCycle2"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.yugj.test.androiddemo.activity.DialogActivity"
            android:label="dialog activity test" 
            android:theme="@android:style/Theme.Dialog">
        </activity>
        
        
        <activity
            android:name="com.yugj.test.androiddemo.item.RadioAndCheckboxTest"
            android:label="dialog activity test" 
            >
        </activity>
        
        <activity
            android:name="com.yugj.test.androiddemo.item.ProgressBarTest"
            android:label="dialog activity test" 
            >
        </activity>
        
        <activity
            android:name="com.yugj.test.androiddemo.item.ListViewTest"
            android:label="list view test" 
            >
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
